<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />    
    </startup>
 <appSettings>
    <add key="FilePath" value="C:\Users\Muthu\Downloads\data.csv"/>
    <add key="FileFrequencyGeneratedPath" value="C:\Users\shomishanang\Downloads\frequency.csv"/>
    <add key="FileCityAscGeneratedPath" value="C:\Users\shomishanang\Downloads\city.csv"/>
  </appSettings>
</configuration>